<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>双机热备配置</title>
    <link rel="stylesheet" href="../../../static/layui/css/layui.css">
</head>
<body>
<form class="layui-form" style="margin-top: 30px">
    <div class="layui-form-item" style="margin-top: 30px">
        <label class="layui-form-label">主机IP：</label>
        <div class="layui-input-inline">
            <input type="text" id="activeIp" placeholder="请输入主机IP..." class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备机IP：</label>
        <div class="layui-input-inline">
            <input type="text" id="sTandbyIp" placeholder="请输入备机IP..." class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 15px">
        <div class="layui-input-block">
            <button onclick="addASInfo()" type="button" class="layui-btn">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
`

<script type="text/javascript" src="../../../static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../../../static/layui/layui.all.js"></script>
<script type="text/javascript">
    function addASInfo() {
        var activeIp = $("#activeIp").val();
        var sTandbyIp = $("#sTandbyIp").val();
        if (activeIp==""||sTandbyIp==""){
            layer.msg("请补全信息...");
        }else{
            layer.alert('该功能待完善...');
        }

        /*$.ajax({
            type: "POST",		//POST_GET
            url: "",	//访问路径
            data: {"activeIp": activeIp, "sTandbyIp": sTandbyIp},
            dataType: "json",
            success: function (data) {
            }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.readyState + XMLHttpRequest.status + XMLHttpRequest.responseText);
            }
        })*/
    }
</script>

</body>
</html>