<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arshiner.dao.RzcjqjcsMapper" >
  <resultMap id="BaseResultMap" type="com.arshiner.model.Rzcjqjcs" >
    <result column="GJZ" property="gjz" jdbcType="VARCHAR" />
    <result column="CSMC" property="csmc" jdbcType="VARCHAR" />
    <result column="MRZ" property="mrz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    GJZ, CSMC, MRZ
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.arshiner.model.RzcjqjcsExample" >
    select
      distinct
    <include refid="Base_Column_List" />
    from ADTMGR.RZCJQJCS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.arshiner.model.RzcjqjcsExample" >
    delete from ADTMGR.RZCJQJCS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.arshiner.model.Rzcjqjcs" >
    insert into ADTMGR.RZCJQJCS (GJZ, CSMC, MRZ
      )
    values (#{gjz,jdbcType=VARCHAR}, #{csmc,jdbcType=VARCHAR}, #{mrz,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.arshiner.model.Rzcjqjcs" >
    insert into ADTMGR.RZCJQJCS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gjz != null" >
        GJZ,
      </if>
      <if test="csmc != null" >
        CSMC,
      </if>
      <if test="mrz != null" >
        MRZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gjz != null" >
        #{gjz,jdbcType=VARCHAR},
      </if>
      <if test="csmc != null" >
        #{csmc,jdbcType=VARCHAR},
      </if>
      <if test="mrz != null" >
        #{mrz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.arshiner.model.RzcjqjcsExample" resultType="java.lang.Integer" >
    select count(*) from ADTMGR.RZCJQJCS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ADTMGR.RZCJQJCS
    <set >
      <if test="record.gjz != null" >
        GJZ = #{record.gjz,jdbcType=VARCHAR},
      </if>
      <if test="record.csmc != null" >
        CSMC = #{record.csmc,jdbcType=VARCHAR},
      </if>
      <if test="record.mrz != null" >
        MRZ = #{record.mrz,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ADTMGR.RZCJQJCS
    set GJZ = #{record.gjz,jdbcType=VARCHAR},
      CSMC = #{record.csmc,jdbcType=VARCHAR},
      MRZ = #{record.mrz,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selAllRzcjqjcs" resultType="com.arshiner.model.Rzcjqjcs">
      SELECT * FROM (SELECT ROWNUM nums,u.* FROM RZCJQJCS u) WHERE nums &gt;= #{before} AND nums &lt;= #{after}
  </select>

  <select id="countRzcjqjcs" resultType="Integer">
      select count(*) from RZCJQJCS
  </select>
</mapper>