<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>增量数据采集状态</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css"/>
    <!--[if lt IE 9]>
    <script src="../plugins/html5.min.js"></script>
    <script src="../plugins/respond.min.js"></script>
    <![endif]-->
    <style>
        #wih {
            width: 150px;
        }
    </style>
</head>
<body>
<!-- 查询条件 -->
<div class="layui-collapse" lay-accordion>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title" style="font-size: 16px;">查询</h2>
        <!-- 默认显示的话把"layui-show"加到下一行div的class里-->
        <div class="layui-colla-content layui-show">
            <form class="layui-form" action="" id="finddata" style="margin-left: auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">系统类别代码:</label>
                        <div class="layui-input-block">
                            <input type="text" id="sel_1" name="title" required  lay-verify="required" placeholder="请输入..." autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">名称:</label>
                        <div class="layui-input-block">
                            <input type="text" id="sel_2" name="title" required  lay-verify="required" placeholder="请输入..." autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态:</label>
                        <div class="layui-input-block">
                            <input type="text" id="sel_3" name="title" required  lay-verify="required" placeholder="请输入..." autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-block">
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            <button class="layui-btn" type="button" id="selInfo" onclick="selInfos()">查询</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- toolbar -->
<div id="toolbar" class="layui-btn-group" style="margin-top: 10px;margin-left: 30px">
    <button id="btn_add" class="layui-btn" onclick="addInfo()">
        <i class="layui-icon">&#xe654;</i>
        增加配置信息
    </button>
</div>
<div class="layui-form news_list">
    <table class="layui-table" style="text-align: center">

        <thead>
        <tr>
            <th>
                <i class="layui-icon">&#xe612;</i>
                <!--<input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose" lay-skin="primary" disabled checked>-->
            </th>
            <th style="text-align:left;">序号</th>
            <th>系统类别代码</th>
            <th>名称</th>
            <th>状态</th>
            <th>时间</th>
            <th>****</th>
            <th>操作内容</th>
        </tr>
        </thead>

        <tbody class="data_audit">
        <td colspan="8" style="text-align: center">没有找到匹配的记录</td>
        </tbody>
    </table>
</div>

<script type="text/javascript" src="../../../static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../../../static/layui/layui.all.js"></script>
<script type="text/javascript" src="../../../static/js/collectionMessage/incerdataCollStatus.js"></script>
</body>
</html>