<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>重庆擎华科技数据采集系统</title>

<style type="text/css">
#show1 ul {
	font-size: 20px;
	list-style: none;
}

#show1 li {
	display: inline;
	line-height: 40px;
	margin-left: 50px;
	float: left
}

#show1 span {
	margin-left: 15px;
	color: #72ACE3;
}
</style>
</head>

<link rel="stylesheet" href="../../../static/layui/css/layui.css" />

<body class="childrenBody">
<fieldset class="layui-elem-field layui-field-title">
	<legend>任务信息</legend>
</fieldset>
	<div class="layui-form-item">
		<div class="layui-inline" style="margin-left: 1%">
			<div class="layui-btn-group demoTable">
				<button class="layui-btn" data-type="getCheckData" id="getCheckData">批量启动</button>
				<button class="layui-btn" data-type="getCheckLength" id="getCheckLength">批量停止</button>
				<button class="layui-btn" id="ReloadTask" style="left: 70%" onclick="ReloadTask()" title="">刷新</button>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<table id="taskEvent" lay-filter="taskEvent"></table>
	</div>
	<script type="text/html" id="barDemo">
	{{# if(d.jobGroup=="ZLTASK"){}}    
		<a class="layui-btn layui-btn-xs" lay-event="Retake" id="Retake">重采</a>
	{{#}}}
    <a class="layui-btn layui-btn-xs" lay-event="get">查看</a>
    <a class="layui-btn layui-btn-xs"  lay-event="start">启动</a>
    <a class="layui-btn layui-btn-xs"  lay-event="end">停止</a>
</script>
	<script type="text/html" id="barDemo2">
    <a class="layui-btn layui-btn-xs" lay-event="get2">查看</a>
</script>
	<script type="text/javascript" src="../../../static/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../../../static/layui/layui.all.js"></script>
	<script type="text/javascript" src="../../../static/js/echarts/echarts.min.js"></script>
	<script type="text/javascript" src="../../../static/js/collectionMessage/taskManager.js"></script>
</body>
</html>